* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 40%;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.left-side h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.left-side p {
  font-size: 1.2rem;
}

.right-side {
  width: 60%;
  background-color: #b5d2c8;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-side h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
}

label {
  font-size: 1rem;
  margin-top: 10px;
}

input {
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password, 
.signup-button {
  background: none;
  border: none;
  color: #6b8e69;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}

.forgot-password:hover, 
.signup-button:hover {
  color: darkgreen;
}

button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #444;
}

p {
  margin-top: 15px;
}

.gator-image {
  position: absolute;
  bottom: 20px;
  left: 20px; 
  width: 150px;
}
